/* GAME.SCSS */

#tron-game {
  position: relative;
  width: 540px;
  margin: 30px auto;
}

#tron-game header img {
  margin-bottom: 20px;
  width: 540px;
}

#tron-canvas {
  display: block;
  border: 20px ridge #068bf9;
}
