.tron-game-menu {
  font-family: helvetica;
  position: absolute;
  float: left;
  color: white;
  font-size: 25px;
  top: 93px;
  left: -2px;
}

#tron-outer-menu ul {
  position: relative;
}

#tron-outer-menu li {
  margin-bottom: 10px;
  position: relative;
  left: 350px;
}

#tron-menu-announcement {
  font-style: italic;
  height: 29px;
}

#tron-menu-announcement:hover {
  cursor: default;
}

.tron-menu-animate {
  transform: translate3d(-350px, 0px, 0px);
  opacity: 1;
  transition: all 0.2s;
}

.tron-menu-nowhere {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s;
}

#tron-outer-menu li:nth-child(1n + 2):hover {
  text-shadow: 0 0 0.4em #FF0000;
  cursor: pointer;
}

#tron-menu-background {
  position: absolute;
  top: 11px;
  left: 22px;
  width: 500px;
  opacity: 0.4;
}
