/* RESET.SCSS */

// RESET

li {
  list-style: none;
}

a, p, ul, li {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;

  margin: 0;
  padding: 0;
  border: 0;
}

// CLEARFIX

.group::after {
  content: '';
  display: block;
  clear: both;
}

// VARIABLE WIDTH CENTER ALIGNMENT

.outer {
  position: relative;
  left: 50%;
  float: left;
}

.inner {
  position: relative;
  left: -50%;
  float: left;
}
