#tron-screen-fader {
  position: absolute;
  top: 104px;
  left: 20px;
  width: 500px;
  height: 300px;
  background-color: black;
}

.transparent-block {
  opacity: 0;
}

.fade-in {
  transition: opacity .249s ease;
  opacity: 0;
}

.fade-out {
  transition: opacity .25s ease;
  opacity: 1;
}

.nowhere {
  display: none;
}
