.tron-instructions-player {
  width: 245px;
  float: left;
    margin-bottom: 15px;
}

#tron-instructions-header:hover {
  cursor: default;
}

#tron-instructions-movement {
  width: 100%;
  margin-top: 25px;
  margin-left: 22px;
}

#tron-instructions-player-one {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #FFF700;
}

#tron-instructions-player-one:hover {
  cursor: default;
}

#tron-instructions-player-two {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #FF00D0;
}

#tron-instructions-player-two:hover {
  cursor: default;
}

#tron-instructions-player-one-key-info {
  display: block;
  float: left;
  font-size: 15px;
  width: 110px;
  margin-left: 20px;
}

#tron-instructions-player-one-key-info:hover {
  cursor: default;
}

#tron-instructions-player-one-keys {
  display: block;
  float: left;
  margin-left: 10px;
}

#tron-instructions-player-two-key-info {
  display: block;
  float: left;
  font-size: 15px;
  width: 110px;
  margin-left: 20px;
}

#tron-instructions-player-two-key-info:hover {
  cursor: default;
}

#tron-instructions-player-two-keys {
  display: block;
  float: left;
  margin-left: 10px;
}

#tron-instructions-pause-new-game {
  margin-bottom: 15px;
}

#tron-instructions-pause-new-game-text {
  display: block;
  float: left;
  margin-right: 20px;
  line-height: 25px;
  font-size: 15px;
  font-family: helvetica;
}

#tron-instructions-advice {
  margin-left: 40px;
}

#tron-instructions-advice-gif {
  display: block;
  float: left;
  width: 176px;
  border: 5px ridge #2073b8;
  margin-right: 25px;
}

#tron-instructions-back {
  display: block;
  float: left;

  color: white;
  font-family: helvetica;
  font-style: italic;
  font-size: 102px;
}

#tron-instructions-back:hover {
  text-shadow: 0 0 0.5em #FF0000;
  cursor: pointer;
}
