#tron-screen-fader {
  position: absolute;
  top: 104px;
  left: 20px;
  width: 500px;
  height: 300px;
  background-color: black;
}

.tron-modal {
  display: block;
  position: absolute;
  top: 104px;
  left: 20px;
  width: 500px;
  height: 300px;

  color: white;
  font-size: 25px;
  background-color: black;
  opacity: .5;
}

.tron-modal-pause-content {
  text-align: center;
  padding-top: 115px;
  font-family: helvetica;
}

.tron-modal-paused-header {
  display: inline;
  top: 93px;
  font-style: italic;
}

.tron-menu-paused-header-animate {
  transition: transform, 0.2s;
  transform: translate3d(-350px, 0px, 0px);
}

.tron-modal-paused-body {
  display: inline;
}

.tron-menu-paused-header-animate {
  transition: transform, 0.2s;
  transform: translate3d(-350px, 0px, 0px);
}
